*.DS_Store
/target/
/target/
/target/
/target/
/target/
/target/
/target/
/target/
/target/
/target/
/target/
/target/
/target/
/target/
/target/
/target/
/target/
/target/
/target/
/target/
/target/
/target/
/.settings/
/.classpath
/.gitignore
/.project
